
tmp/
RCS/
CVS/
synopsys_cache*/
alib-*/
simv.daidir/
csrc/

INCA_libs/
netlist/
report/
work_lib/
saif/
sdf/
spf/
.simvision/
.bpad/
waves.shm/
ncsim.shm/
xcelium.shm/
*.shm/
cov_work/
xcelium.d/

*.zip
*.tar
*.Z
*.gz
*.bz2
*.lzma
*.xz
*.lzo

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore

#
cds.lib
hdl.var
.nclaunch.dd
default.svf
.sourceControl
*.key
*.history
*.log
*.bak
*.orig
*~
\#*#
*.sdf.X
.nfs*
*.diag
*.err
.*.sw?

*.trn
*.dsn

.uvmtclcomm.txt

.idea/
__pycache__/
*.so
trash/
.bpad/

icc_output.txt
lib/
gds/
legalizer_debug_plots/

*_port_map.*
._id_
._lic_*
net.acts

synopsys_custom/

.reinvoke.sim

test*.trn
test*.dsn

